body {
  margin: 10px;
  font-family: 'Abel';
  text-align: center;

}

.container {
  display: grid;
  grid-template-columns: 80%;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
}

.item {
  color: black;
  display: flex;
  align-items:center;
}

.item > img {
  padding: 10px;
}