.ui-page
{
    height: 90vh;
}

.container
{
    height: 100vh;
    width: 100%;
    display: table;
}

.item-img
{
    height: 100%;
    width: 100%;
    display: table-row;
}

.item-desc
{
    white-space: pre-wrap;
}

img
{
    height:100%;
    display: block;
    margin: 0 auto;
}