<!DOCTYPE html> 
<html> 
	<head> 
<meta charset="utf-8"/>
	<title>My Page</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
	<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
	<script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/1.0.5/jsrender.min.js"></script>

	<script src="xml2json.min.js"></script>
	<script src="masy.js"></script>
	<link rel="stylesheet" href="masy.css" />

</head> 
<body>
<script id="theTmpl" type="text/x-jsrender">
	{{for story.page}}
  <div data-role="page" id="page{{:#index + 1}}" class="mypage" {{if #index>0}}data-prev="#page{{:#getIndex()}}"{{/if}} {{if #index+1 < #get("array").data.length}}data-next="#page{{:#getIndex() + 2}}"{{/if}}>
	<div class="container">
	  <div class="item-img">
	  	<img class="illustration" src="{{:img}}"/>
	  </div>
	  
	  <div class="item-desc">{{:text}}</div>
	</div>
  </div>
	{{/for}}
</script>

</body>
</html>
